.container {
  overflow: hidden;
}
.sidebar-section {
  display: none;
}
.container, .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.container .top {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 0;
}
.last, .menu {
  transform: scale(0.8);
}
.last {
  transform: rotate(-90deg);
}
.container .middle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.middle-1 {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
}
.middle-2 {
  margin-top: -100px;
  width: 256px;
  height: 256px;
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #d3d5fe;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.middle-2 svg {
  transform: scale(3) rotate(90deg);
}
.middle .pie-list {
  width: 16rem;
  height: 16rem;
  overflow: hidden;
  transform: rotate(45deg);
}
.pie {
  width: 126px;
  height: 126px;
  background-color: #fff;
  border-radius: 10rem 0 0;
  border: solid 1px #d3d5fe;
}
.pie svg{
  transform: rotate(-45deg) translate(0px, 73px);
}
.pie:hover {
  background-color: #c4c7fc;
}
.up-button {
  stroke: #d3d5fe;
}
.pie:hover .up-button {
  stroke: #8989e8;
}
#pie-2 {
  transform: rotate(90deg) translate(-128px, -127px);
}
#pie-3 {
  transform: rotate(180deg) translate(-127px,130px);
}
#pie-4 {
  transform: rotate(-90deg) translate(258px, 0px);
}
.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #d3d5fe;
}
@media screen and (min-width: 730px) {
  .container {
      background: url(https://luuman.github.io/CSS3/WeiUI/images/iPhone-6S.png);
      background-repeat: no-repeat;
      background-size: 351px;
      margin: -8px auto;
      width: 352px;
      height: 739px;
      overflow: visible;
    }
    .sidebar-section {
      display: block;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      margin-bottom: 20px;
      position: fixed;
      top: 50%;
      left: 50%;
      width: 180px;
      margin-left: 186px;
      margin-top: -100px;
      background: #FFF;
  }
  .shop-detail {
      margin: 0;
      margin: 10px;
      word-break: break-all;
      padding-bottom: 10px;
      font-size: 12px;
      color: #666666;
      border-bottom: 1px dashed #ccc;
  }
  .weixin-title, .weixin-no {
    font-size: 12px;
    color: #666;
    margin: 5px 0;
  }
  .qr-code {
    min-height: 162px;
    margin: 0;
  }
  .center, .text-center {
    text-align: center;
  }
  .page {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto;
    margin: 67px 0px 0px 17px;
    width: 324px;
    height: 602px;
    overflow-y: hidden;
  }
}
